body{
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 20px;
    padding: 10px;
}

.head {
    text-align: center;
    background-color: rgb(64, 51, 96);
    height: 70px;
}

.btn {
    margin: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(53, 49, 49);
    color: white;
    cursor: pointer;
}

.myuser{
    border:1px solid blue;
    margin: 10px;
    padding: 5px;
}

fieldset{
    border: 0px;
}